body {
  font-family: "Roboto", sans-serif !important;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none !important;
}

h1, h2, h3{
  font-family: "Avenir", "Roboto", sans-serif !important;
  font-weight: bold;
}

h3, .confirmation{
  color: #28cc67 !important;
  font-size: 1.4rem;
}

.confirmation-black{
  color: black !important;
  font-size: 1.4rem;
}


h3{
  font-size: 3rem !important;
}

#dontsee{
  cursor: pointer;
}

#requestbutton{
  cursor: pointer;
  color: black !important;
  opacity: 1 !important;
}

.heading_name{
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  margin: 17px auto;
}

.form-content{
  padding-top: 50px;
  height: 100vh;
}

.about-nav{
  padding-bottom: 0;
}

.about-nav a{
  color: black;
  padding: 5px;
  border-radius: 10px;
  margin: auto 2px;
  transition: all 0.2s;
}

.about-nav a:hover{
  color: white;
  background: black;
}

#about-nav-large{
  padding-top: 40vh;
  display: block !important;
  height: 100vh;
  display: flex;
}

#about-nav-large h2{
  font-weight: lighter;
  color: black !important;
  padding: 10px auto !important;
  transition: all 0.1s;
}

.aboutsect{
  padding-top: 70px;
  padding-bottom: 70px;
}

#about-nav-large h2:hover{
  font-size: 3.2rem;
  color: #3683c5 !important;
}

.about-content h4{
  font-weight: lighter;
  color: #3683c5;
  background: white;
  padding: 2rem;
  margin-bottom: 20px;
  font-size: 3.5rem;
  border-radius: 20px;
  line-height: 4.5rem;
}

.factrow{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ceilingfact{
  padding: 10px;
}

.ceilingfact h1, .ceilingfact p{
  margin-left: 3px;
  margin-right: 3px;
}

.ceilingfact h1{
  color: #3683c5 !important;
  font-size: 3rem !important;
}

.before-visualization{
  visibility: hidden; display: none;

}

.sub-body{
  margin-top: calc(15vh + 30px);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 800px;
}

.description-first-line{
    display: inline-block;
    margin-bottom: 10px;
}

#logo_text{
  color: black !important;
  font-size: 3rem !important;
  margin: 10px 50px 10px 50px;

}

.subtitle{
  display: flex;
}

#tagline{
  color: rgba(0, 0, 0, 0.6) !important;
  margin: auto 10px;
}

#logo_text > a{
  color: black;
  text-decoration: none !important;
}


#logo-text:hover{
  cursor: pointer;
}

#tagline{
  color: black;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header {
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 1rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  margin: 0 auto 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .row{
  align-items: center;
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.5rem !important;
  color: black !important;
  padding: 0.6rem 0;
}

.description{
  font-size: 1.2em;
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 10px auto;
  font-family: "Roboto", sans-serif;
}

.form-prompt{
  color: black;
}

.makesubmissionbutton {
  color: white;
  font-weight: bold;
  background: transparent;
  margin-top: 0.67em;
  border: 2px solid white;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.1s;
}

.makesubmissionbutton:hover{
  color: black;
  background: white;
}


.rotimg{
  margin: 10px;
    transform-origin:50% 50%;
    animation:1s rotateRight infinite linear;
}

#slow{
  animation: 2s rotateRight infinite linear;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}


.backbutton {
  color: black;
  font-weight: bold;
  background: transparent;
  border: 2px solid black;
  width: 80px;
  margin-left: 10px;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.1s;
}

.backbutton:hover{
  color: white;
  background: black;
}

.submitfield{
  margin-top: 10px;
  opacity: 0;
}

.emptycardheading{
  color: white !important;
  font-family: "Avenir", "Roboto", sans-serif !important;
}

.submitbutton, .yesbutton, .yescampus, .skipbutton, #daily, #weekly, .gotit, #aboutlink {
  height: 30px;
  color: black;
  /*font-weight: bold;*/
  background: transparent;
  margin:0.2em;
  border: 2px solid rgba(0,0,0,0.8);
  padding: 3px 5px;
  border-radius: 10px;
  transition: all 0.2s;
}

.submitbutton:hover, .yesbutton:hover, .skipbutton:hover, #daily:hover, #weekly:hover, .gotit:hover, #aboutlink:hover{
  color: white;
  background: black;
}
.gotit{
  margin: 10px auto;
}

.infobutton{
  margin-left: 10px;
  padding: 5px;
  color: #2b72e5;
  font-weight: bold;
  background: transparent;
  border: 2px solid #2b72e5;
  height: 30px;
  width: 30px !important;
  border-radius: 25px;
  transition: all 0.1s;
  font-size: 1.5rem;
  opacity: 0.8;
  cursor: pointer;
}

#loadingfan{
  margin-right: 15px;
  display: table-cell;
  vertical-align: middle;
}

.infobutton:hover{
  color: white;
  background: #2b72e5;
}

#heading{
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#lookslike{
  margin-top: 0;
  margin-bottom: -5px;
}

#help_us, #buttondiv{
  display: table-cell;
  vertical-align: middle;
}

.warningmessage{
  margin-bottom: -10px;
  margin-top:-10px;
  color:#1098b7;
}

form{
  visibility: hidden; display: none;
  width: 90%;
  max-width: 800px;
  margin: 0.5rem auto;
  font-family: "Roboto", sans-serif;
  opacity: 0;
}

.user_location_report{
  margin-top: -10px;
}

input{
  background: none;
  color: black;
  padding: 16px 10px;
  margin: 0 10px !important;
  height: 10px !important;
  width: 90%;
  max-width: 250px;
  outline:none;
  transition: all 0.2s;
  border: solid black 2px;
  border-radius: 10px
}

input:focus{
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder{
  color: rgba(0, 0, 0, 0.7);
}

form select{
  margin: -10px auto 10px auto !important;
  height: 30px;
  background: none;
  border-radius: 0;
  border: solid black 2px;
  width: 90%;
  max-width: 200px;
  transition: all 0.2s;
}

select:hover{
  color: white;
  background: black;
}

form label{
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
}

#how{
  display: none;
  opacity: 0;
  margin-top: -20px;
}

#invalid_location_message{
  margin-top: -15px;
  color: red !important;
  visibility: hidden; display: none;
}

.disclaimer{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.2rem !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

#more{
  color: black;
  padding-left: 5px;
  cursor: pointer;
}

#enterdiv{
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#firstheading{
  display: table-cell;
  vertical-align: middle;
  font-size: 4rem !important;
  padding-right: 30px;
  text-align: right;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
}

#firstheading .description{
  margin-right: 0;
  text-align: right;
  font-size: 1.5rem;
}

#firstheading h1{
  font-size: 4rem !important;
  text-align: right;
}

#enterbutton{
  font-size: 2rem;
  height: 4rem;
}

#welcome{
  display: table;
  margin-top: 30vh;
}

#dontsee{
  margin: 0 auto -10px auto;
}

datalist{
  border-radius: 10px;
}

.vis_options{
  visibility: hidden; display: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  opacity: 0;
  position: absolute;
  width: 90%;
  padding: 2rem;
  margin: 3rem 50% 1rem auto;
  left: 0;
  right: 0;
  display: none;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s;
}

.option_match{
  font-size: 2rem;
  margin: 0;
  padding: 5px 0;
  transition: all 0.1s;
}

.option_match:hover{
  cursor: pointer;
  color: white;
  opacity: 1;
}

#searchcard{
  top: 55px;
  opacity: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#displaycard{
  top: 138px;
}

@media screen and (max-width: 490px){
  #tagline{
    letter-spacing: normal;
    font-size: 1rem;
  }
}


@media screen and (max-width: 550px){
  h1{
    font-size: 3rem !important;
  }
  body{
    background: #effcfb;
  }
  h3{
    font-size: 1.8rem !important;
  }

  #background{
    visibility: hidden; display: none;
  }

}

@media screen and (max-width: 790px){
  h4{
    font-size: 2rem !important;
  }

  #welcome{
    display: block;
  }

  #enterdiv{
    display: block;
    padding-left: 0;
  }

  #firstheading{
    align-items: center;
    justify-content: center;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }

  #firstheading h1{
    text-align: center;
    font-size: 3rem !important;
  }

  #firstheading .description{
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
  }

}

@media only screen and (max-width: 705px){
  #tagline{
    display: none;
  }
}

@media only screen and (min-width: 900px){
  .card{
    margin-right: 20%;
    width: 60%;
  }
}

@media only screen and (max-width: 500px){
  #logo_text{
    font-size: 2rem !important;
  }
  #welcome {
    margin-top: calc(20vh + 30px);
  }
  .sub-body{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 677px){
  .about-nav{
    padding-bottom: 10px;
  }
}
