body {
  font-family: "Roboto", sans-serif !important;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-content{
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
}

.sub-body{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: white;

}

header {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 1rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  margin: 0 auto 40px auto;
}

header .row{
  align-items: center;
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.5rem !important;
  color: black !important;
  padding: 0.6rem 0;
}

.description{
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto 10px auto;
  font-family: "Roboto", sans-serif;
}

.makesubmissionbutton {
  color: white;
  font-weight: bold;
  background: transparent;
  margin-top: 0.67em;
  border: 2px solid white;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.1s;
}

.makesubmissionbutton:hover{
  color: black;
  background: white;
}

.backbutton {
  color: black;
  font-weight: bold;
  background: transparent;
  margin-top: 0.67em;
  border: 2px solid black;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.1s;
}

.backbutton:hover{
  color: white;
  background: black;
}

.submitfield{
  margin-top: 10px;
  opacity: 0;
}

.submitbutton, .yesbutton, .yescampus, .skipbutton {
  color: black;
  font-weight: bold;
  background: transparent;
  margin:0.2em;
  border: 2px solid black;

  padding: 5px;
  border-radius: 10px;
  transition: all 0.1s;
}

.submitbutton:hover, .yesbutton:hover, .skipbutton:hover{
  color: white;
  background: black;
}

#infobutton{
  color: #1098b7;
  font-weight: bold;
  background: transparent;
  padding: 5px;
  border: 2px solid #1098b7;
  border-radius: 10px;
  transition: all 0.1s;

  margin: 28px 10px 0 10px;
  font-size: 1.5rem;
  height: 35px;
  opacity: 0.8;
  cursor: pointer;
}

#infobutton:hover{
  color: white;
  background: #1098b7;
}

#heading{
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  text-align: center;
}

.warningmessage{
  margin-bottom: -10px;
  margin-top:-10px;
  color:#1098b7;
}

form{
  visibility: hidden;
  width: 90%;
  max-width: 800px;
  margin: 0.5rem auto;
  font-family: "Roboto", sans-serif;
  opacity: 0;
}

.user_location_report{
  margin-top: -10px;
}

input{
  background: none;
  color: black;
  padding: 20px 10px;
  margin: -10px auto 10px auto !important;
  text-align: center;
  height: 20px;
  width: 90%;
  max-width: 200px;
  border: none;
  outline:none;
  transition: all 0.2s;
  border-bottom: solid black 2px;
}

input:focus{
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder{
  color: rgba(0, 0, 0, 0.7);
}

form select{
  margin: -10px auto 10px auto !important;
  height: 30px;
  background: none;
  border-radius: 0;
  border: solid black 2px;
  width: 90%;
  max-width: 200px;
  text-align: center;
}

form label{
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
}

#how{
  opacity: 0;
}

#invalid_location_message{
  margin-top: -15px;
  color: red;
  visibility: hidden;
}

datalist{
  border-radius: 10px;
}

.vis_options{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){

  header{
    display: block;
  }

  #enter_place{
    margin: 0 auto 0 auto;
  }

  #background{
  }
}

@media screen and (max-width: 550px){
  .backbutton {
    color: white;
    font-weight: bold;
    background: transparent;
    margin-top: 0.67em;
    border: 2px solid white;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.1s;
  }

  .backbutton:hover{
    color: black;
    background: white;
  }

  header{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  body{
    background: #effcfb;
  }

  #background{
    visibility: hidden;
  }
}
